<html lang="ja">
<head>
	<meta charset="UTf-8">
	<title>Welcome EASY BBS</title>
</head>
<body>
	<h1>Welcome EASY BBS</h1>
	<form action="/login" method="GET">
		<table>
		<tr>
			<td>
				ユーザID<input type="text" name="username" />
			</td>
		</tr>
		<tr>
			<td>
				パスワード<input type="password" name="password" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="login" />
			</td>
		</tr>
		</table>
	</form>
</body>
</html>
