<% @store.each{|content|  %>
<hr>
<table>
	<tr>
		[<%= content[:contribution_number] %>]
		<th>投稿時刻：</th>
		<td>
			<%=content[:write_date] %>
		</td>
	</tr>
	<tr>
		<th>お名前：</th>
		<td>
			<%=content[:name] %>
		</td>
	</tr>
	<tr>
		<th>メッセージ：</th>
		<td>
			<%=content[:message] %>
		</td>
	</tr>
</table>
<hr>
<% } %>
<% if @current_page != 1 %>
	<a href="/prev">前のページ</a>
<% end %>
<% if @store.length == 10  %>
	<a href="/next/1">次のページ</a>
<% end %>

