<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<form action="write" method="POST">
	<table>
		<tr>
			<th>お名前：</th>
			<td>
				<input type="text" name="name" value="" />
			</td>
		</tr>
		<tr>
			<th>メッセージ：</th>
			<td>
				<textarea name="message" cols=50 rows=5></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit"  name="button" value="投稿" />
			</td>
		</tr>
	</table>
	</form>
</html>
