<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<% @store.each { |content|  %>
	<hr>
	<table>
		<tr>
			<th>お名前：</th>
			<td>
				<%=content[:name] %>
			</td>
		</tr>
		<tr>
			<th>メッセージ：</th>
			<td>
				<%=content[:message] %>
			</td>
		</tr>
	</table>
	<hr>
	<% } %>
	<a href="/main">戻る</a>
</html>
