<% @store.each{|content|  %>
<hr>
<table>
	<tr>
		<th>投稿時刻：</th>
		<td>
			<%=content.get_write_date %>
		</td>
	</tr>
	<tr>
		<th>お名前：</th>
		<td>
			<%=content.get_name %>
		</td>
	</tr>
	<tr>
		<th>メッセージ：</th>
		<td>
			<%=content.get_message %>
		</td>
	</tr>
</table>
<hr>
<% } %>
<a href="/main">戻る</a>
